a.nav-link {
  color: $default-link-color;
  border-bottom: none;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), font-weight 400ms ease-out;

  &:hover {
    border-bottom: none;
    transform: translateY(-1px);
    transition: all 250ms ease-in;
    box-shadow: inset 0 0 0 white, inset 0px -4px 0 $default-link-color;
  }

  &.lighten {
    color: $light-link-color;

    &:hover {
      box-shadow: inset 0 0 0 white, inset 0px -4px 0 $light-link-color;
    }
  }

  &.active {
    box-shadow: inset 0 0 0 white, inset 0px -4px 0 $default-link-color;

    &.lighten {
      box-shadow: inset 0 0 0 white, inset 0px -4px 0 $light-link-color;
    }
  }
}

#nav-icon {
  width: 36px;
  height: 4rem;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fffff6;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  
  &.open span {
    &:nth-child(1) {
      top: 10px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 10px;
      width: 0%;
      left: 50%;
    }
  }
}